.team-tile {
    background-color: rgb(168, 236, 236);
    margin: 0.2rem;
    border: 1px solid black;
    border-radius: 10px;
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.team-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.team-counter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 3rem;
    .team-counter__button {
        border: 0px solid transparent;
        background-color: transparent;
        font-size: 3rem;
    }
}